/* fieldsets */
.openregistry#update fieldset {position:relative; margin:2em 0 1.4em; border:0; padding:0; background:#fff;}
.openregistry#update fieldset legend {margin-bottom:0;}

.openregistry#update fieldset fieldset {margin:0;}

.openregistry#update label.desc {display:block; clear:both; line-height:1.5; padding-top:1em; width:100%; color:#777; font-size:1.2em; font-weight:900;}
.openregistry#update label.desc em {font-size:10px;}

openregistry#update label.desc2 {display:block; clear:both; line-height:1.5; padding-top:.5em; width:100%; color:#000; font-size:1.2em; font-weight:900;}
.openregistry#update label.desc2 em2 {font-size:12px; color:#777;}

.openregistry#update #ecn1 {float:left; width:100%;}
.openregistry#update #ecn1 label.desc {color:#000;}

.openregistry#update #ecn2 {position:absolute; float:none; left:50%; width:48%;}
.openregistry#update #ecn3 {clear:both;}

.openregistry#update div.row {position:relative; height:3.3em;}
.openregistry#update div.row label {clear:none; float:none; display:block; position:absolute; left:0; top:2.5em; margin:0; text-align:left; width:auto; font-size:10px;}

p#one-required {position:absolute; left:66%; font-size:10px;}

.openregistry#update input[type="text"] {padding:3px 0; text-indent:3px;}

div.select {border:1px solid red; border-color:#999 #eee #eee #999; float:left;}
	select {font-size:1.1em; font-family:Verdana,sans-serif; border-style:solid; border-color:#fff;}

legend span span {color:#777; font-weight:400; font-size:1em; display:inline;}
.openregistry#update #content p.info {border:0; background:transparent url(../images/info-s.gif) no-repeat 0 0;font-size:1.1em;}

/****** Heading */
.openregistry#update div.row label.name {display:block; clear:both; line-height:1.5; padding-top:1em; width:100%; color:#777; font-size:1.2em; font-weight:900; left:11%; margin-left:5px;}
.openregistry#update div.row label.id {display:block; clear:both; line-height:1.5; padding-top:1em; width:100%; color:#777; font-size:1.2em; font-weight:900;left:16%; margin-left:11px;}

/****** Role Info */
#c1_startdate {width:10%;}
.openregistry#update div.row label.enddate {left:10%; margin-left:4px;}
#c1_enddate {width:10%; margin-left:3px;}

.openregistry#update div.row label.sponsor {left:20%; margin-left:10px;}
.openregistry#update div.sponsor {float:left; margin-left:3px;}

.openregistry#update div.row label.sponsortype {left:45%; margin-left:14px;}
.openregistry#update div.sponsortype {float:left; margin-left:3px;}

.openregistry#update div.row label.campus {left:15%;margin-left:3px;}
.openregistry#update div.campus {float:left; margin-left:3px;}

.openregistry#update div.row label.personStatus {left:25%;margin-left:3px;}
.openregistry#update div.personStatus {float:left; margin-left:3px;}

#c1_title {width:40%;}
.openregistry#update div.row label.pt {left:40%; margin-left:4px;}
.openregistry#update div.pt {float:left; margin-left:3px;}

#c1_address1 {width:30%;}
.openregistry#update div.row label.address2 {left:31%; margin-left:5px;}
#c1_address2 {width:30%;margin-left:3px;}

#c1_city {width:25%;}

.openregistry#update div.row label.state {left:25%; margin-left:5px;}
#c1_state {width:20%; margin-left:3px;}

.openregistry#update div.row label.zip {left:45%; margin-left:11px;}
#c1_zip {width:15%; margin-left:3px;}

#c1_phone,  #c1_ext,  #c1_cell {width:20%; margin-left:3px;}
#c1_phone,  #cell_phone {margin-left:0;}
.openregistry#update div.row label.cell {left:40%; margin-left:9px;}

#c1_cccode, #c1_areacode, #c1_ext {width:10%; margin-left:3px;}
#c1_number {width:20%; margin-left:3px;}
.openregistry#update div.row label.areacode {left:11%; margin-left:3px;}
.openregistry#update div.areacode {float:left; margin-left:3px;}

.openregistry#update div.row label.number {left:21%; margin-left:4px;}
.openregistry#update div.number {float:left; margin-left:3px;}
.openregistry#update div.row label.ext {left:42%; margin-left:3px;}


/*** add person  ***/

.openregistry#update div.row label.firstName {left:6%; margin-left:3px;}
#c1_firstName {width:15%; margin-left:3px;}
.openregistry#update div.row label.middleName {left:22%; margin-left:2px;}
#c1_middleName {width:10%; margin-left:3px;}
.openregistry#update div.row label.lastName {left:32%; margin-left:4px;}
#c1_lastName {width:15%; margin-left:3px;}
.openregistry#update div.row label.suffix {left:48%; margin-left:2px;}
#c1_suffix {width:3%; margin-left:3px;}

/*
.openregistry#update div.row label.dateOfBirth {left:8%;margin-left:2px;}
*/
#c1_dateOfBirth {width:16%;}
#c1_preferredName {width:16%;}

#c1_ssn {width:16%;}
#c1_ruid {width:16%;}

#c1_email {width:40%;}
#c1_hideDir {margin-left:3px;}
#e_cell {clear:left; float:left; margin-top:0; width:80%;}

input.btn-submit {margin-top:0;font-weight:900}
input.btn-cancel {margin-top:0;font-weight:900;left:22%; margin-left:2px;}

.openregistry#update p {padding-bottom:0;}
.openregistry#update .success h2, #content .success h3 {margin-bottom:1em;}

/* Safari 2.x specific fixes */
html[xmlns*=""] body:last-child div.select {border:0 !important;}
html[xmlns*=""] body:last-child div.row label.state {margin-left:3px !important;}
html[xmlns*=""] body:last-child div.row label.zip {margin-left:6px !important;}
html[xmlns*=""] body:last-child div.row label.work {margin-left:3px !important;}
html[xmlns*=""] body:last-child div.row label.cell {margin-left:6px !important;}
html[xmlns*=""] body:last-child div.row label.phone {margin-left:12.3em !important;} 