/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*

	NAME:	or_base.css
	DESC:	Base CSS for generic OpenRegistry theme
	AUTHOR:	Graham Ballantyne (grahamb@sfu.ca)


	COLORS:
		base: #D4DDE4
		input background focus: #ecf6fe
		input border focus/hover: #a6c6fd

*/

/* RESET -------------------------------------------------------------------------------------- */
/* Based on Dan Cederholm's (simplebits.com) reset.css                                          */

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ens,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thread,tr,th,td /* phew! */{margin:0;padding:0;font-size:100%;vertical-align:baseline;border:0;outline:0;background:transparent;font-weight:normal;font-style:normal;}
	blockquote,q{quotes:none;}
	:focus{outline:0;}
	table{border-collapse:collapse;border-spacing:0;}


/* LAYOUT ------------------------------------------------------------------------------------- */


/* HEADER */
	#header-wrap {
		width: 100%;
		background: #D4DDE4;
	}

	#header {
		padding: 15px;
	}

	#header h1 { margin: 0; }

/* MAIN, MAIN>NAV, MAIN>CONTENT */
	#main {
		margin: 20px auto;
		width: 90%;
		/*min-height: 300px;*/
        position: fixed;
        min-height: 95%;
        /*height: auto !important;*/
        /*height: 100%;*/
        padding-left:20px;

	}

	#nav {
		/*min-width: 175px;*/
		float: left;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		padding: 20px;
	}

	#nav ul { list-style: none; }
	#nav li { margin-bottom: 3px; }
	#nav ul ul { margin-left: 20px;	}

	#nav a:hover {
		border-bottom: 1px dotted #333;
		color: #333;
	}

	#nav li.current a {
		font-weight: bold;
		color: #333;
	}

	#content {
        margin-left: 200px;
        padding-bottom: 40px;
        min-height:500px;

    }


/* FOOTER */
	#footer {
		/*width: 1000px;*/
		margin: auto;
		text-align: center;
		font-size: 0.8em;
        width: 100%;
        padding-top:100px;
        /*background: #CCC;*/
        /*position: absolute;*/
        /*bottom: 0 !important;*/
        /*bottom: -1px;*/
        /*height: 40px;*/

	}

/* MISC & FIXES */
	group:after {
		content:  ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}


/* TYPOGRAPHY --------------------------------------------------------------------------------- */

	body {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: #333;
		font-size: 100%;
        height: 100%;
	}

    html {
        height: 80%;
    }

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 10px;
		font-weight: bold;
	}

	h1 { font-size: 30px; }

	h2 { font-size: 24px; }

	h3 { font-size: 20px; }

	p {
		margin: 0 0 1.2em 0;
	}

	.instructions {
        margin: 0 0 1.2em 0;
		font-size: 0.9em;
	}

    .instructions ul {
        padding: 5px;
    }

    .instructions ul li {
        margin-left: 20px;
    }

	#nav a {
		color: #7f7f7f;
		text-decoration: none;
		font-weight: normal;
	}

    #calculated-person{
        padding: 5px;
    }

    .sor-person{
        padding: 5px;
    }

    .box{
        padding:10px;
        /*border: 1px solid #ccc;*/
        /*border-radius: 4px;*/
        /*-webkit-border-radius: 4px;*/
        /*-moz-border-radius: 4px;*/
    }

    .padded{
        padding-bottom:10px;
    }

    .center{
        text-align: center;
    }

    .headline{
        background: #D4DDE4;
        text-align: left;
        font-weight: bold;
        padding:5px;
    }

    }

/* FORMS & INPUTS ----------------------------------------------------------------------------- */

	legend { display: none; }

	.field_set div {
		float: left;
		padding: 0 15px 0 0;
	}

	input[type=text], input[type=password] {
		font-family: inherit;
		display: inline;
		border: 1px solid #ccc;
		height: 20px;
		padding: 10px;
		font-size: 16px;
	}

	input[type=text]:hover, input[type=password]:hover {
		border: 1px solid #a6c6fd;
	}

	input[type=text]:focus, input[type=password]:focus {
		border: 1px solid #a6c6fd;
		background: #D4DDE4;
	}

	label.above {
		display: block;
		font-weight: bold;
		font-size: 14px;
		margin: 0 0 2px 0;
	}

	button {
		cursor: pointer;
		min-height: 16px;
		font-family: inherit;
		font-weight: bold;
		background: #ccc;
		border: 0;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		color: #333;
		font-size: 14px;
		padding: 2px 10px 3px 10px;
	}

	button:hover {
		background: #D4DDE4;
		color: #222;
	}

	button:active {
		background: #B1B8BE;
		color: #222;
	}

	button.red {
		background: #b5111a;
		border: none;
		color: #fff;
	}

	button.red:hover {
		background: #9B0F17;
	}

	button.red:active {
		background: #750B11;
	}

    select {
        background-color:white;

    }

/* TABLES ------------------------------------------------------------------------------------- */

    table {
        width: 100%;
    }

	thead {
		background: #D4DDE4;
	}

	th {
		text-align: left;
		font-weight: bold;
        padding: 5px;
	}

    tr {
        padding: 5px;
    }

    td {
        padding: 5px;
    }

	tbody.zebra tr:nth-child(even) {
	  background-color: #eee;
	}

    .even-rows{
       background-color: #eee;
    }

/* ERROR/MESSAGE AREAS------------------------------------------------------------------------- */

	#message {
		width: 750px;
		margin-bottom: 20px;
		padding: 0.7em;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		font-size: 12px;
	}

	#message p {
		margin: 1em 0px;
	}

	#message.highlight {
		background: #FFEF8F;
		border: 1px solid #F9DD34;
	}

	#message.error {
		background: #b5111a;
		border: 1px solid #CD0A0A;
		color: #fff;
	}

    #message div {
        height: 40px;
    }









/*   ~gnb~   */