/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*

	NAME:	or_find_person.css
	DESC:	Styles specific to "find person"
	AUTHOR:	Graham Ballantyne (grahamb@sfu.ca)

*/

input[type=text], input[type=password] {
	width: 175px;
}

#find_submit_container button {
	width: 120px;
	font-size: 14px;
	height: 100%;
}

#find_submit_container {
	margin-top:19px;
	height: 42px;
}

#search_results {
	margin-top: 25px;
}

#find_person_results_table {
	width: 100%;
}

#find_person_results_table th, #find_person_results_table td {
	padding: 5px;
}

input.fieldError {
    background: #f08080;
}

label.labelError {
    color: red;
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 2px 0;
}


/*   ~gnb~   */